/* Default */
.hexagone {
    width: 225px;
    height: 150px;
    margin: 50px auto 100px;
    background: var(--ua-pink);
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: var(--deep-blue);
}

.hexagone .title {
    color: var(--deep-blue);
}

.hexagone::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 112.5px solid transparent;
    border-right: 112.5px solid transparent;
    top: -50px;
    border-bottom: 50px solid var(--ua-pink);
}

.hexagone::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 112.5px solid transparent;
    border-right: 112.5px solid transparent;
    bottom: -50px;
    border-top: 50px solid var(--ua-pink);
}

/* Ligth */
.hexagone.is-light {
    background: var(--pink);
    color: var(--deep-blue);
    margin: 50px auto 100px;
}

.hexagone.is-light::after {
    border-bottom-color: var(--pink);
}

.hexagone.is-light::before {
    border-top-color: var(--pink);
}

/* Info */
.hexagone.is-info {
    background: var(--blue-ncs);
}

.hexagone.is-info::after {
    border-bottom-color: var(--blue-ncs);
}

.hexagone.is-info::before {
    border-top-color: var(--blue-ncs);
}