.icon.is-small.is-right.has-text-right {
    z-index: 1;
}

.select {
    width: 100%;
    background: var(--oxford-blue);
    color: var(--pink);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px !important;
    padding: 10px;
}

.basic-select {
    position: relative;
}

/* This will add our own cutom arrow or icon */
/* Check out https://www.toptal.com/designers/htmlarrows/ for more HTML symbols */
.basic-select::after {
    content: url("../../assets/arrow.png");
    position: absolute;
    top: 3px;
    right: 15px;
}

.multiselect {
    background: var(--oxford-blue);
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--pink) !important;
}

:focus-visible {
    background: var(--light-blue);
}

.form .field img {
    width: auto;
    margin: 0;
}

.control.has-icons-right .icon.is-right {
    right: 10px;
}

.input::-webkit-input-placeholder {
    color: var(--pink);
    opacity: 0.3;
}

.input:-moz-placeholder {
    /* Firefox 18- */
    color: var(--pink);
    opacity: 0.3;

}

.input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--pink);
    opacity: 0.3;

}

.input:-ms-input-placeholder {
    color: var(--pink);
    opacity: 0.3;

}

.tooltip {
    z-index: 99;
}