.doughnut-div {
    height: 400px;
    max-width: 50vw;
    width: 90vw;
}

.doughnut-div text {
    fill: var(--purple-pantone);
}

@media screen and (max-width: 770px) {
    .doughnut-div {
        max-width: 77vw;
        margin: 0 auto;
    }
}