.clearfix {
    clear: both;
}

.accordion {
    display: grid;
    position: relative;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--pink);
    z-index: 10;
}

.accordion-title .title {
    margin: 10px 10px 10px 30px;
}

.accordion-title .icon {
    height: none;
}

.accordion-content {
    z-index: 11;
    padding: 20px 0;
    animation: fade-in-top 0.1s linear;
}

img {
    transition: 0.5s;
}

.reverse {
    transition: 0.5s;
    transform: rotate(180deg);
}

@keyframes fade-in-top {
    0% {
        position: absolute;
        top: 0;
    }

    100% {
        position: relative;
    }
}